In [2]:
from faker import Faker
import pandas as pd
import pyarrow

In [13]:
fake = Faker('pt_BR')

def gerar_pessoa():
    nome = fake.name()
    endereco = fake.address()
    password = fake.password()
    idade = fake.random_int(min=0, max=100)
    saldo = fake.random_int(min=0, max=100000)
    cpf = fake.cpf()
    rg = fake.rg()
    profissao = fake.job()
    email = fake.email()

    pessoa = {
        'nome': nome,
        'endereco': endereco,
        'password': password,
        'idade': idade,
        'saldo': saldo,
        'cpf': cpf,
        'rg': rg,
        'profissao': profissao,
        'email': email
    }

    return pessoa

pessoa = gerar_pessoa()

# Transformar o dicionário em um DataFrame
df = pd.DataFrame(pessoa, index=[0])

print(df)

df.to_parquet('meu_dataframe.parquet')

              nome                                           endereco  \
0  Kevin Fernandes  Recanto Novaes, 89\nVila Nova Paraíso\n3446712...

     password  idade  saldo             cpf         rg  \
0  $5Jp&W1a!9     59  30505  748.906.321-31  025347688

                      profissao                  email
0  Especialista em agronegócios  marcelo57@example.net

In [4]:
print(type(pessoa))
print(type(df))

<class 'dict'>
<class 'pandas.core.frame.DataFrame'>

In [5]:
display(df)

,nome,endereco,password,idade,saldo,cpf,rg,profissao,email
0,Julia Fogaça,"Vale de Fernandes, 8\nMinas Caixa\n21209-404 S...",)Um9XgaNno,32,71387,247.906.358-56,051473689,Operador de telemarketing,levida-conceicao@example.net

In [ ]:
display(meu_dict)

In [14]:
df.to_json('dynamodb.json')